.detalhesEvento{
    box-shadow: 0px 8px 5px grey;
    padding-top: 20px;
    padding-left: 20px;
    margin-botton: 60px;
}

.imprimir{
    padding-top: 5px;
    padding-left: 210px;
}

.formConvidado{
    box-shadow: 0px 8px 5px grey;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 60px;
}

.tabelaConvidado{
    width: 50%;
}

.logoEvento{
    padding-left: 40px;
}

.logoCadastroDeEventos{
    padding-left: 40px;
}

.logoListaDeEvntos{
    padding-left: 40px;
}

.formEvento{
    box-shadow: 0px 8px 5px grey;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 60px;
}

i.icon-red {
    color: #ff4040;
}
.nav-wrapper{
 background-color: #1E90FF;
}